<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Acessar Sistema</h2>
                    <p class="text-center">Preencha os campos para realizar o acesso.</p>
                    <hr />
                    <form>
                        <div class="form-group mb-2">
                            <label for="email">Informe seu email de acesso:</label>
                            <input type="email" class="form-control" placeholder="Digite seu e-mail" />
                        </div>
                        <div class="form-group mb-2">
                            <label for="senha">Informe sua senha de acesso:</label>
                            <input type="password" class="form-control" placeholder="Digite sua senha" />
                            <div class="text-end">
                                <a [routerLink]="['/password-recover']">Esqueci minha senha?</a>
                            </div>
                        </div>
                        <div class="d-grid mb-2">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <div class="d-grid mb-2">
                            <a [routerLink]="['/register']" class="btn btn-light">
                                Não possui conta? <strong>Cadastre-se aqui!</strong>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>